@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DM Sans;
  src: url('./assets/fonts/DMSans/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family: Jost;
  src: url('./assets/fonts/Jost/Jost-VariableFont_wght.ttf');
}

* {
  font-family: DM Sans;
}

body {
  margin: 0;
}